:root {
    --hlColor: #ffe705;
    --bgColor: #0b0b0b;
    
    
}

@font-face {
    font-family: "Futura";
    src: url("assets/FuturaCon-Boo.woff");
    font-weight: normal;
    
}

@font-face {
    font-family: "Futura";
    src: url("assets/Futura-Bol.woff");
    font-weight: bold;
}

html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
    font-family: "Futura", sans-serif;
    font-weight: bold;
}
html:-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    background: var(--bgColor);
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    
    font-size: 1.25rem;
}

.header {
    background-image: url("images/ui/background.gif");
    background-repeat: no-repeat;
    

    background-position: center;
    
    position: fixed;
    height: 6.5vh;
    width: 100vw;
    align-content: center;
    z-index: 2;
}
.header img {
    overflow: hidden;
    display: block;
    
    max-height: 80%;
    width: auto;
    
    margin: auto;
    object-fit: contain;
    transform:translateY(1vh);
}
.header a {
    text-align: center;
}
p {
    font-family: "Futura", sans-serif;
    font-weight: normal;
    font-size: 1.25rem;
    
    display: inline;
    color:#ffe705;
    text-shadow: 1px 1px 1px black;
}
.headerText{
    text-align:center;
    top: 4.5vh;
    
}
a {
    text-decoration: none;
}
.footer {
    width: 100%;
    height: 55px;
    
    bottom: 0;
    
    text-align: center;
}
#copyButton {
    background-color: #ffe705;
    border: none;
    color: black;
    
    cursor: pointer;
}

@media screen and (max-width:700px) {
    html {
        font-size: 1.75rem;
    }
}

/* image gallery */
.gridContainer{
    height: auto;
    width: 100%;   

}
.gallery {
    margin: auto;
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 20vh;
    width: 70%;
    max-width: 750px;
    gap: 2vw;
    padding-top: 7.5vh;
    padding-bottom: 2.5vh; 
}
.album {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.album img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}
.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
    color:#ffe705;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    opacity: 0;
    transition: 0.3s;
}
.album:hover img {
    filter: grayscale(100%) brightness(0.7);
}
.album:hover .overlay {
    opacity: 1;
}


.modal {
    position: fixed;
    inset: 0;
    background: rgba(37, 35, 35, 0.85);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.active {
    display: flex;
}

.modal img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 8px;
    
    transition: opacity 0.2s ease;
}

.modalText {
    display: block;
    position:absolute;
    bottom: 30px;
    padding: 0 15vw;
}

#modalText {
    font-family: "Futura";
    font-weight: normal;
    
    color: #c0c0c0;
    text-shadow: 2px 2px 2px black;
}

.nav {
    position: absolute;
    top: 50%;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.35);
    cursor: pointer;
    transform: translateY(-50%);
    user-select: none;
}

.prev { left: 30px; }
.next { right: 30px; }

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}