:root {
    --whiteColor: #f9f8f2; /* var(--whiteColor) */
    --secondaryColor: #22172a; /* var(--secondaryColor) */
    --hlColor: #459f74; /* var(--hlColor) */
    --offBlackColor: #100f13; /* var(--bgColor) */
    --navSel: coral;
}

@font-face {
    font-family: "Futura";
    src: url("assets/FuturaCon-Boo.woff");
    font-weight: normal;
    
}

@font-face {
    font-family: "Futura";
    src: url("assets/Futura-Bol.woff");
    font-weight: bold;
}

html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
    font-family: "Futura", sans-serif;
    font-weight: normal;
    
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
html:-webkit-scrollbar {
    display: none;
}

body {
    background-color: #1b1b1b;
    height: calc(4 * 100vh);
    width: 100vw;
    margin: 0;
    
    background-image: linear-gradient(to bottom, var(--offBlackColor), var(--secondaryColor));
}

/* HEADER REVEAL MARKER */
#topMarker {
    height:1px;
}
#graphicsMarker {
    position: absolute;
    top: 150vh;
    height:1px;
    width: 100%;
    background-color: color;

}
#logosMarker {
    position: absolute;
    top: 250vh;
    height:1px;
}
#motionMarker {
    position: absolute;
    top: 350vh;
    height:1px;
}
/* HEADER */
#header {
    top: -55px;
    z-index: 99;
    
    display: flex;
    position: fixed;
    height: 55px;
    width: 100%;
    
    align-items: center;
    background-color: black;
    
    transition: top 0.5s ease;
}
#header.reveal {
    top: 0;
}
/* TITLE - HEADER */
.titleContainer {
    display: flex;
    position: relative;
    
    height: 100%;
    width: auto;
    padding-left: 25px;
}
.titleContainer a { display:flex;}
.titleContainer img {
    margin: auto;
    width: auto;
    height: 80%;
    object-fit: contain;
}
/* NAVIGATION - HEADER */
.navBar {
    height: auto;
    width: 100%;
    margin: 0;
    padding-right: 25px;
    text-align: right;
    font-family: "futura", sans-serif;
    font-weight: bold;
}
.navBar a {
    padding: 25px;
    text-decoration: none;
    color: var(--hlColor);
}
.navBar a:hover {
    color: var(--whiteColor);
}
#graphicsNav.highlight { color: coral;}
#logosNav.highlight { color: coral;}
#motionNav.highlight { color: coral;}

/* Contact */
#landingContact {
    right: 0;
    top: 0;
    position: fixed;
    text-align: center;
    align-content: center;
    width: fit-content;
    height: 55px;
    background-color: coral;
    
    transition: background-color 0.8s ease,
        color 0.8s ease;

}
#landingContact a {
    padding: 20px 50px 20px 25px;
    text-decoration: none;
    color: black;
    font-family: "futura", sans-serif;
    font-weight: bold;
} #landingContact a:hover { color: var(--whiteColor);}
#landingContact.highlight { background-color: var(--hlColor);}
#contactSheet {
    
    position: fixed;
    display: flex;
    
    
    top: -100px;
    left: 75%;
    text-align: center;
    justify-content: center;
    height: auto;
    width: 25%;
    
    background-color: coral;
    transition: top 0.8s ease;
    
} #contactSheet.reveal { top: 55px;}
#contactSheet a {
    display: block;
    
    text-decoration: none;
    color: black;
    
    font-family: "futura", sans-serif;
    font-weight: bold;
} #contactSheet a:hover { color: var(--whiteColor);}
#landingContactSheet {
    
    position: fixed;
    display: flex;
    
    
    top: 0;
    right: -26%;
    text-align: center;
    
    justify-content: center;
    height: 55px;
    width: 25%;
    
    background-color: coral;
    transition: right 0.8s ease;
    
} #landingContactSheet.reveal { right: 125px;}
#landingContactSheet a {
    display: block;
    
    text-decoration: none;
    color: black;
    
    font-family: "futura", sans-serif;
    font-weight: bold;
} #landingContactSheet a:hover { color: var(--whiteColor);}
/* MAIN CONTENT */
.windowContainer {

    height: 100%;
    width: 100vw;
    
    
    
    
}
/* SECTIONS */
.section {
    scroll-snap-align: start;
    
    height: 100vh;
    width: 100%;
}


.sectionTitle {
    padding-top: 55px;
    width: 100%;
    padding-left: 25px;
    font-size: 2rem;
    background-image: url("images/blackLiquid.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--offBlackColor);
    
    font-family: "Futura", sans-serif;
    font-weight: bold;
}
.sectionTitle p{
    width: max-content;
    
    color: var(--hlColor);
    
}
.sectionTitle p span { position: relative; font-size: 1rem; padding-left: 25px; color: var(--whiteColor); }
/*#graphicHeader {
    padding-top:calc(40vh + 55px);
    transform: translateY(-40vh);}*/
.sectionText {
    padding-left: 25px;
    height:auto;
    width:max-content;
    
    color: var(--whiteColor);
    position: relative;
    
    font-family: "Futura", sans-serif;
    font-weight: normal;
}

/*section specifics*/
.mainBanner {
    
    top: 20vh;
    display: flex; /*flex*/
    position: relative;
    
/*    border-style: none solid none none;
    border-color: black;
    border-width:medium;
    
    border-top-right-radius: 250px;
    border-bottom-right-radius: 250px;*/
    
    width: 60%; /*75% mobile*/
    height: auto;
/*    background-image: url("images/blackLiquid.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--hlColor); */
    
    align-items: center;
    
    transition: left 0.8s ease;
    left: 0;
}
#titleBanner.hide {left: -75%;}
.mainBanner img {
    margin: auto;
    
    width: 95%;
    height: 95%;
    
    object-fit: contain;
}
#landingNav {
    list-style-type: none;
    margin:0;
    
    
    display: block;
    position: absolute;
    
    text-align: left;
    
    height: 10vw;
    width: 25%;
    left: 65%;
    top: 22.5vh;
    
    transition: left 0.65s ease;
}
#landingNav a {
    font-size: 2.5vw;
    
    text-decoration: none;
    font-family: "futura", sans-serif;
    font-weight: bold;
    line-height: 1.5;
    color:  var(--hlColor);
} #landingNav a:hover {
    color: coral;
}
#landingNav.hide {left:100%;}

.aboutText{
    text-align: right;
    padding-top: 10%;
    font-family: "Futura", sans-serif;
    font-weight: normal;
    font-size: 1.25rem;
    color: var(--whiteColor);
    width: 58%;
    
    line-height: 2.5rem;
    
    
}

